<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item" ng-repeat="tabs in $ctrl.tabs()">
                <a ng-class="$ctrl.tab === $index ? 'nav-link active' : 'nav-link'" href="#" ng-click="$ctrl.toggleTab($index)">{{tabs}}</a>
            </li>
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">Link</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link disabled" href="#">Disabled</a>-->
            <!--</li>-->
        </ul>
    </div>
    <br>

<product-list products="$ctrl.currentProduct"></product-list>