<div class="card-deck" ng-repeat="product in $ctrl.products">
    <div class="card">
        <div class="card-block jumbotron jumbotron-fluid product-image">
                <div class="container">
                    <h1 class="display-3 card-title">{{ product.name}}</h1>
                    <p class="lead card-text">he course is expected to span {{product.duration}} and the price is {{ product.price | currency : '&#8358;' : 2}}.</p>
                </div>
        </div>
        <div class="card-footer">
            <!--<a href="#" class="btn btn-primary btn-block btn-group-vertical">PAY</a>-->
            <div ng-if="!$ctrl.payButton.button">
                <button class="btn btn-primary btn-lg active" role="button" type="button" ng-click="$ctrl.showForm($index)" id="{{'button' + $index}}">Checkout </button>
            </div>
            <payment-form price="product.price" product="product.name" id="{{'form' + $index}}" ng-show="$ctrl.currentForm[$index]"> </payment-form>
            <!---->
        </div>
    </div>

</div>